@model SCCB.Web.Models.LogInModel

@section Styles {
    <link href="@Url.Content("~/css/login.css")" rel="stylesheet" type="text/css" />
}

@{
    ViewData["Title"] = "Login";
}

@section Header {
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark mb-3">
        <div class="container-fluid ml-4 mr-4">
            <a class="nav-link text-white nav-header pr-sm-3 main-link" asp-area="" asp-controller="Home" asp-action="Index">Планувальник</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <div class="animated-navbar-toggler-icon"><span></span><span></span><span></span><span></span></div>
            </button>
            <div class="navbar-collapse collapse justify-content-between flex-sm-row">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-white px-sm-3" asp-area="" asp-controller="Home" asp-action="Privacy">Бронювання аудиторій</a>
                    </li>
                </ul>
                <ul class="navbar-nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link active text-white pr-sm-3" asp-area="" asp-controller="Authentication" asp-action="LogIn">Логін</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white pl-sm-3" asp-area="" asp-controller="Authentication" asp-action="SignUp">Реєстрація</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
}

<div class="login-form mt-5 pt-5">
    <h2>Залогіньтесь, щоб продовжити</h2>

    <form asp-action="LogIn" method="post" class="mt-5 mb-5 pb-5">
        <div class="form-stuff">
            <div class="d-flex flex-column mb-3">
                <label asp-for="Email" class="ml-2">Емейл</label>
                <input asp-for="Email" class="pl-3" />
                <span asp-validation-for="Email" class="field-validation-error">
                    @{if (ViewBag.Error != null)
                            @ViewBag.Error
                    }
                </span>
            </div>
            <div class="d-flex flex-column mb-3">
                <label asp-for="Password" class="ml-2">Пароль</label>
                <div>
                    <input id="showPass" asp-for="Password" type="password" class="pl-3" />
                    <span asp-validation-for="Password" class="field-validation-error">
                        @{if (ViewBag.Error != null)
                                @ViewBag.Error
                        }
                    </span>
                    <p class="show-pass"> Показати пароль <input type="checkbox" class="showPass" data-id="#showPass" /></p>
                </div>
            </div>
            <p class="my-4 mb-5">
                @*<a data-target="#changePasswordModal" data-toggle="ajax-modal"
                   data-url="@Url.Action("ForgottenPassword")" data-placeholder="#changePasswordModalPlaceholder">*@
                <a data-toggle="modal" data-target="#exampleModal">
                    Забули пароль ?
                </a>
            </p>
            <button type="submit"><span>Логін</span></button>
        </div>
    </form>

    <!-- Modal -->
    @*<div id="changePasswordModalPlaceholder">*@
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Відновлення паролю</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="text-danger">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                        <label class="ml-2">Введіть ваш емейл</label>
                        <div>
                            <input class="pl-3 py-2 border w-100" />
                            @*<span asp-validation-for="" class="field-validation-error">
                        @{if (ViewBag.Error != null)
                                @ViewBag.Error
                        }
                    </span>*@
                        </div>
                    </form>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="green-bg hover-erase px-3 py-2 mt-5 mb-3">
                            Надіслати лист
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*</div>*@

@section Scripts {
    <script src="~/js/ShowPassword.js" asp-append-version="true"></script>
    <script src="~/js/AjaxModal.js" asp-append-version="true"></script>
}