<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SCCB - @ViewData["Title"]</title>
    <link rel="icon" href="~/img/fav_icon.png" type="images/png">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-select/dist/css/bootstrap-select.min.css" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/bootstrap-glyphicons.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
    @RenderSection("Styles", false)
</head>
<body>
    <header>
        @RenderSection("Header")
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="d-flex justify-content-center">
            <span style="color:#a19e9e !important">
                &copy; @DateTime.Now.Year Copyright: <span class="text-white">SCCB.Web</span>
            </span>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="~/lib/signalr/dist/browser/signalr.min.js" asp-append-version="true"></script>
    <script src="~/js/BookingMessages.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
