@model BookingModel
@using SCCB.Core.Constants

@section Styles {
    <link href="@Url.Content("~/css/scheduleEditing.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/home.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/lessonBooking.css")" rel="stylesheet" type="text/css" />
}

@{
    ViewData["Title"] = "Lesson Booking";
}

@section Header {
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark">
        <div class="container-fluid ml-4 mr-4">
            <a class="nav-link text-white nav-header pr-sm-3 main-link" asp-area="" asp-controller="Home" asp-action="Index">Планувальник</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <div class="animated-navbar-toggler-icon"><span></span><span></span><span></span><span></span></div>
            </button>
            <div class="navbar-collapse collapse justify-content-between flex-sm-row">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active text-white px-sm-3" asp-area="" asp-controller="Booking" asp-action="Create">Бронювання аудиторій</a>
                    </li>
                </ul>
                <ul class="navbar-nav justify-content-end">
                    <li class="nav-item">
                        @if (User.Identity.IsAuthenticated)
                        {
                            @if (User.IsInRole(Roles.Admin))
                            {
                                <a class="img-link pr-sm-3" asp-area="" asp-controller="Admin" asp-action="Index">
                                    <img src="~/img/avatar.png" alt="Profile" width="50" />
                                </a>
                                <a class="nav-link link-mobile text-white pr-sm-3" asp-area="" asp-controller="Admin" asp-action="Index">Профіль</a>
                            }
                            else
                            {
                                <a class="img-link pr-sm-3" asp-area="" asp-controller="Profile" asp-action="Edit">
                                    <img src="~/img/avatar.png" alt="Profile" width="50" />
                                </a>
                                <a class="nav-link link-mobile text-white pr-sm-3" asp-area="" asp-controller="Profile" asp-action="Edit">Профіль</a>
                            }
                        }
                        else
                        {
                            <a class="nav-link text-white pr-sm-3" asp-area="" asp-controller="Authentication" asp-action="LogIn">Логін</a>
                        }
                    </li>
                    <li class="nav-item">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a class="nav-link text-white pl-sm-3" asp-area="" asp-controller="Authentication" asp-action="LogOut">Вихід</a>
                        }
                        else
                        {
                            <a class="nav-link text-white pl-sm-3" asp-area="" asp-controller="Authentication" asp-action="SignUp">Реєстрація</a>
                        }
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="info-block d-flex align-items-center justify-content-center pb-5">
        <div class="text-center py-4">
            <h2 class="mb-3">Schedule creation and classroom booking</h2>
            <p class="px-4 py-2">Використовуйте наведений нижче функціонал для бронювання потрібної аудиторії</p>
        </div>
    </div>
}

<div class="main-content py-5 d-flex justify-content-center">
    <div class="lessons-booking-bg py-5 px-5">
        <div class="px-3">
            <div class="row d-flex justify-content-end">
                <div class="col-12
                            col-sm-11
                            col-md-12
                            col-lg-11 d-flex flex-row mb-5">
                    <div class="filter-label mr-4 py-2 px-4">
                        <span>Фільтри</span>
                    </div>
                    <button class="clear-all py-2 px-3">Очистити все</button>
                </div>
            </div>
            <form asp-action="Create" method="post" name="main-form">
                <div class="row d-flex flex-column flex-md-row justify-content-center align-items-center mb-4">
                    <div class="col-12
                                col-sm-10
                                col-md-6
                                col-lg-5 mb-4 mb-md-0">
                        <label asp-for="Date" class="ml-2">Вкажіть дату проведення пари</label>
                        <input asp-for="Date" type="date" id="Date" class="w-100 pl-3 py-2 border" />
                        <span asp-validation-for="Date" class="field-validation-error"></span>
                    </div>
                    <div class="col-12
                                col-sm-10
                                col-md-6
                                col-lg-5">
                        <label asp-for="LessonNumber" class="ml-2">Вкажіть номер пари</label>
                        <select asp-for="LessonNumber" id="LessonNumber" class="w-100 selectpicker" title="-- Виберіть номер пари --">
                            @for (int i = 1; i <= TermSettings.MaxLessons; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                        <span asp-validation-for="LessonNumber" class="field-validation-error"></span>
                    </div>
                </div>
                <div class="row d-flex flex-column flex-md-row justify-content-center align-items-center mb-4">
                    <div class="col-12
                                col-sm-10
                                col-md-6
                                col-lg-5 mb-4 mb-md-0">
                        <label asp-for="ClassroomId" class="ml-2">Вкажіть аудиторію</label>
                        <select asp-for="ClassroomId" id="ClassroomId" class="w-100 selectpicker" title="-- Спершу вкажіть дату та номер пари --" disabled>
                            @await Component.InvokeAsync(
                                typeof(SCCB.Web.ViewComponents.ClassroomOptionsForBookingViewComponent),
                                new { date = Model?.Date, lessonNumber = Model?.LessonNumber })
                        </select>
                        <span asp-validation-for="ClassroomId" class="field-validation-error"></span>
                    </div>
                    <div class="col-12
                                col-sm-10
                                col-md-6
                                col-lg-5">
                        <label asp-for="GroupId" class="ml-2">Вкажіть назву групи</label>
                        <select asp-for="GroupId" class="w-100 selectpicker" title="-- Виберіть назву групи --">
                            @await Component.InvokeAsync(
                                typeof(SCCB.Web.ViewComponents.GroupOptionsViewComponent),
                                new { groupId = Model?.GroupId, option = GroupOptions.All })
                        </select>
                        <span asp-validation-for="GroupId" class="field-validation-error"></span>
                    </div>
                </div>
                <div class="row d-flex justify-content-center align-items-center mt-4 mb-2">
                    <div class="col-12
                            col-sm-10
                            col-md-12
                            col-lg-10 d-flex flex-column">
                        <label asp-for="Description" class="ml-2">Вкажіть коментар для бронювання аудиторії</label>
                        <textarea asp-for="Description" class="px-3 py-2">Добавте ваш коментар...</textarea>
                        <span asp-validation-for="Description" class="field-validation-error"></span>
                    </div>
                </div>
                <div class="col-12
                        col-sm-11
                        col-md-12
                        col-lg-11 d-flex justify-content-sm-end justify-content-center p-0">
                    <button type="submit" class="book-button px-4 py-2 mt-4">
                        Забронювати
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/Booking.js" asp-append-version="true"></script>
    <script src="~/js/ResetButton.js" asp-append-version="true"></script>
}