@model SCCB.Core.DTO.PersonalBookings
@using SCCB.Core.Constants

@section Styles {
    <link href="@Url.Content("~/css/profile.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/personalBooking.css")" rel="stylesheet" type="text/css" />
}

@{
    ViewData["Title"] = "Personal Bookings";
}

@section Header {
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark mb-3">
        <div class="container-fluid ml-4 mr-4">
            <a class="nav-link text-white nav-header pr-sm-3 main-link" asp-area="" asp-controller="Home" asp-action="Index">Планувальник</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <div class="animated-navbar-toggler-icon"><span></span><span></span><span></span><span></span></div>
            </button>
            <div class="navbar-collapse collapse justify-content-between flex-sm-row">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-white px-sm-3" asp-area="" asp-controller="Booking" asp-action="Create">Бронювання аудиторій</a>
                    </li>
                </ul>
                <ul class="navbar-nav justify-content-end">
                    <li class="nav-item">
                        @if (User.Identity.IsAuthenticated)
                        {
                            @if (User.IsInRole(Roles.Admin))
                            {
                                <a class="img-link pr-sm-3" asp-area="" asp-controller="Admin" asp-action="Index">
                                    <img src="~/img/avatar.png" alt="Profile" width="50" class="active" />
                                </a>
                                <a class="nav-link active link-mobile text-white pr-sm-3" asp-area="" asp-controller="Admin" asp-action="Index">Профіль</a>
                            }
                            else
                            {
                                <a class="img-link pr-sm-3" asp-area="" asp-controller="Profile" asp-action="Edit">
                                    <img src="~/img/avatar.png" alt="Profile" width="50" class="active" />
                                </a>
                                <a class="nav-link active link-mobile text-white pr-sm-3" asp-area="" asp-controller="Profile" asp-action="Edit">Профіль</a>
                            }
                        }
                        else
                        {
                            <a class="nav-link text-white pr-sm-3" asp-area="" asp-controller="Authentication" asp-action="LogIn">Логін</a>
                        }
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white pl-sm-3" asp-area="" asp-controller="Authentication" asp-action="LogOut">Вихід</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
}

<div class="container-fluid container-profile px-5 mt-5">
    <div class="d-flex justify-content-between">
        <div class="profile-button d-flex justify-content-center align-items-center color-erase">
            @if (User.Identity.IsAuthenticated)
            {
                @if (User.IsInRole(Roles.Admin))
                {
                    <a class="my-2 text-white font-slab hover-erase font-weight-bold" asp-area="" asp-controller="Admin" asp-action="Index">Ваш профіль</a>
                }
                else
                {
                    <a class="my-2 text-white font-slab hover-erase font-weight-bold" asp-area="" asp-controller="Profile" asp-action="Edit">Ваш профіль</a>
                }
            }
        </div>
        <div class="profile-button d-flex justify-content-center align-items-center color-erase">
            <a class="my-2 text-white font-slab hover-erase font-weight-bold" asp-area="" asp-controller="Profile" asp-action="Groups">Ваші групи</a>
        </div>
        <div class="profile-button d-flex justify-content-center align-items-center">
            <a class="my-2 font-slab font-weight-bold" asp-area="" asp-controller="Booking" asp-action="Personal">
                Ваші бронювання
            </a>
        </div>
    </div>
    <div class="profile-info-block my-4 py-5 px-5">
        <h3>Мої бронювання:</h3>
        @foreach (var booking in Model.MyBookings)
        {
            <div class="container-personal-booking mb-3">
                <div class="personal-booking-block px-4 py-4">
                    <div class="personal-booking-block font-weight-bold d-flex flex-column flex-md-row">
                        <div class="mr-4">
                            <span>дата: 03.03.2020</span>
                        </div>
                        <div class="d-flex flex-column flex-sm-row">
                            <span class="mr-4">ауд. @booking.Classroom.Number (@booking.Classroom.Building)</span>
                            <span>@booking.LessonNumber пара (@TermSettings.BeginTimes[booking.LessonNumber] - @TermSettings.EndTimes[booking.LessonNumber])</span>
                        </div>
                    </div>
                    <div class="text-white font-weight-bold my-4">
                        <p>@booking.Description</p>
                    </div>
                    @if (booking.IsApproved)
                    {
                        <span>Підтверджено</span>
                    }
                    else
                    {
                        <span>Очікуєтсься підтвердження</span>
                    }
                    <div class="text-center text-sm-right font-weight-bold">
                        @{ 
                            var routeData = new Dictionary<string, string>
                            {
                                { "Id", @booking.Id.ToString() }
                            };
                        }
                        <button class="cancel-button px-2 py-1" data-url=@Url.Action("Cancel", routeData)>
                            Скасувати бронювання
                        </button>
                    </div>
                </div>
            </div>
        }

        <h3>Бронювання моїх груп:</h3>
        @foreach (var booking in Model.MyGroupsBookings)
        {
        <div class="container-personal-booking mb-3">
            <div class="personal-booking-block px-4 py-4">
                <span>Від групи: @booking.Group.Name</span>
                <div class="personal-booking-block font-weight-bold d-flex flex-column flex-md-row">
                    <div class="mr-4">
                        <span>дата: @booking.Description</span>
                    </div>
                    <div class="d-flex flex-column flex-sm-row">
                        <span class="mr-4">ауд. @booking.Classroom.Number (@booking.Classroom.Building)</span>
                        <span>@booking.LessonNumber пара (@TermSettings.BeginTimes[booking.LessonNumber] - @TermSettings.EndTimes[booking.LessonNumber])</span>
                    </div>
                </div>
                <div class="text-white font-weight-bold my-4">
                    <p>@booking.Description</p>
                </div>
            </div>
            @if (booking.IsApproved)
            {
                <span>Підтверджено</span>
            }
            else
            {
                <span>Очікуєтсься підтвердження</span>
            }
        </div>
        }
    </div>
</div>

@section scripts {
    <script src="~/js/PersonalBookings.js" asp-append-version="true"></script>
}