@model SCCB.Core.DTO.PersonalBookings
@using SCCB.Core.Constants

@section Styles {
    <link href="@Url.Content("~/css/profile.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/personalBooking.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/scheduleEditing.css")" rel="stylesheet" type="text/css" />
}

@{
    ViewData["Title"] = "Personal Bookings";
}

@section Header {
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark mb-3">
        <div class="container-fluid ml-4 mr-4">
            <a class="nav-link text-white nav-header pr-sm-3 main-link" asp-area="" asp-controller="Home" asp-action="Index">Планувальник</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <div class="animated-navbar-toggler-icon"><span></span><span></span><span></span><span></span></div>
            </button>
            <div class="navbar-collapse collapse justify-content-between flex-sm-row">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-white px-sm-3" asp-area="" asp-controller="Booking" asp-action="Create">Бронювання аудиторій</a>
                    </li>
                </ul>
                <ul class="navbar-nav justify-content-end">
                    <li class="nav-item">
                        @if (User.Identity.IsAuthenticated)
                        {
                            @if (User.IsInRole(Roles.Admin))
                            {
                                <a class="img-link pr-sm-3" asp-area="" asp-controller="Admin" asp-action="Index">
                                    <img src="~/img/avatar.png" alt="Profile" width="50" class="active" />
                                </a>
                                <a class="nav-link active link-mobile text-white pr-sm-3" asp-area="" asp-controller="Admin" asp-action="Index">Профіль</a>
                            }
                            else
                            {
                                <a class="img-link pr-sm-3" asp-area="" asp-controller="Profile" asp-action="Edit">
                                    <img src="~/img/avatar.png" alt="Profile" width="50" class="active" />
                                </a>
                                <a class="nav-link active link-mobile text-white pr-sm-3" asp-area="" asp-controller="Profile" asp-action="Edit">Профіль</a>
                            }
                        }
                        else
                        {
                            <a class="nav-link text-white pr-sm-3" asp-area="" asp-controller="Authentication" asp-action="LogIn">Логін</a>
                        }
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white pl-sm-3" asp-area="" asp-controller="Authentication" asp-action="LogOut">Вихід</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="info-block d-flex align-items-center justify-content-center pb-5">
        <div class="text-center py-2 px-2">
            <h2 class="mb-3">Особисті бронювання</h2>
        </div>
    </div>
}

<div class="main-content d-flex justify-content-center">
    <div class="container-fluid container-profile px-5 mt-5">
        <div class="profile-info-block my-4 py-5 px-5">
            <div class="d-flex justify-content-between mb-4">
                @if (User.Identity.IsAuthenticated)
                {
                    @if (User.IsInRole(Roles.Admin))
                    {
                        <a class="profile-button d-flex justify-content-center align-items-center
                            py-2 font-slab color-erase hover-erase font-weight-bold text-white"
                           asp-area="" asp-controller="Admin" asp-action="Index">
                            Ваш профіль
                        </a>
                    }
                    else
                    {
                        <a class="profile-button d-flex justify-content-center align-items-center
                            py-2 font-slab color-erase hover-erase font-weight-bold text-white"
                           asp-area="" asp-controller="Profile" asp-action="Edit">
                            Ваш профіль
                        </a>
                    }
                }
                <a class="profile-button d-flex justify-content-center align-items-center
                            py-2 font-slab color-erase hover-erase font-weight-bold text-white"
                   asp-area="" asp-controller="Groups" asp-action="Index">
                    Ваші групи
                </a>
            </div>
            <p class="book-label my-4"><span class="py-1">Бронювання моїх груп:</span></p>
            @if (Model.MyGroupsBookings?.Any() == false)
            {
                <p class="green-color ml-3">Поки що у ваших групах немає бронювань</p>
            }
            else
            {
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    @foreach (var booking in Model.MyGroupsBookings)
                    {
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab">
                                <h4 class="panel-title">
                                    <a class="p-3" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                                       aria-expanded="true" aria-controls="#collapseOne">
                                        Бронювання
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel">
                                <div class="panel-body py-3">
                                    <div class="container-personal-booking mb-3">
                                        <div class="px-4 py-4 font-weight-bold">
                                            <div class="personal-booking-block">
                                                <p>Від групи: <span class="text-white">@booking.Group.Name</span></p>
                                                <div class="d-flex flex-column flex-md-row">
                                                    <div class="mr-4">
                                                        <span>дата: @booking.Date.ToShortDateString()</span>
                                                    </div>
                                                    <div class="d-flex flex-column flex-sm-row">
                                                        <span class="mr-4">ауд. @booking.Classroom.Number (@booking.Classroom.Building)</span>
                                                        <span class="mr-2">@booking.LessonNumber пара</span>
                                                        <span>(@TermSettings.BeginTimes[booking.LessonNumber - 1].ToString("hh\\:mm") - @TermSettings.EndTimes[booking.LessonNumber - 1].ToString("hh\\:mm"))</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="my-4">
                                                <p>@booking.Description</p>
                                            </div>
                                            <div class="d-flex flex-md-row flex-column justify-content-between text-center align-items-center">
                                                @if (booking.IsApproved)
                                                {
                                                    <p class="status m-0">
                                                        <span class="py-2 px-3">Підтверджено</span>
                                                    </p>
                                                }
                                                else
                                                {
                                                    <p class="status m-0">
                                                        <span class="py-2 px-3">Очікуєтсься підтвердження</span>
                                                    </p>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }

            <p class="book-label mb-4"><span class="py-1">Особисті бронювання:</span></p>
            @if (Model.MyBookings?.Any() == false)
            {
                <p class="green-color ml-3">Поки що у вас немає бронювань</p>
            }
            else
            {
                @foreach (var booking in Model.MyBookings)
                {
                    <div class="container-personal-booking mb-3">
                        <div class="px-4 py-4 font-weight-bold">
                            <div class="personal-booking-block d-flex flex-column flex-md-row">
                                <div class="mr-4">
                                    <span>дата: @booking.Date.ToShortDateString()</span>
                                </div>
                                <div class="d-flex flex-column flex-sm-row">
                                    <span class="mr-4">ауд. @booking.Classroom.Number (@booking.Classroom.Building)</span>
                                    <span class="mr-2">@booking.LessonNumber пара</span>
                                    <span>(@TermSettings.BeginTimes[booking.LessonNumber - 1].ToString("hh\\:mm") - @TermSettings.EndTimes[booking.LessonNumber - 1].ToString("hh\\:mm"))</span>
                                </div>
                            </div>
                            <div class="my-4">
                                <p>@booking.Description</p>
                            </div>
                            <div class="d-flex flex-md-row flex-column justify-content-between text-center align-items-center">
                                @if (booking.IsApproved)
                                {
                                    <p class="status mb-3 mb-md-0">
                                        <span class="py-2 px-3">Підтверджено</span>
                                    </p>
                                }
                                else
                                {
                                    <p class="status mb-3 mb-md-0">
                                        <span class="py-2 px-3">Очікуєтсься підтвердження</span>
                                    </p>
                                }
                                <div>
                                    @{
                                        var routeData = new Dictionary<string, string>
                                                                                                                                                                                                                                                                                                                                                         {
                                                { "Id", @booking.Id.ToString() }
                                                };
                                    }
                                    <button class="cancel-button px-2 py-1" data-url=@Url.Action("Cancel", routeData)>
                                        Скасувати бронювання
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/PersonalBookings.js" asp-append-version="true"></script>
    <script src="~/js/Accordion.js" asp-append-version="true"></script>
}
