@model IDictionary<int, IEnumerable<SCCB.Core.DTO.Lesson>>
@using SCCB.Core.Constants

@foreach (var group in Model)
{
    <div class="mb-4 lesson">
        <div class="lesson-header">
            <div class="py-2">
                <p class="px-4 mb-0">
                    <span class="lesson-bold-info mr-1">@group.Key</span>
                    <b>
                        <span class="mr-2">пара</span><span>(@TermSettings.BeginTimes[group.Key - 1].ToString("hh\\:mm") - @TermSettings.EndTimes[group.Key - 1].ToString("hh\\:mm"))</span>
                    </b>
                </p>
            </div>
        </div>
        <div class="py-2 lesson-body text-center">
            @foreach (var lesson in group.Value)
            {
                @if (lesson.IsDenominator && !lesson.IsEnumerator && group.Value.Count() < 2)
                {
                    <hr class="mb-2 mt-1">
                }
                <div class="mb-3">
                    <p class="mb-1 lesson-bold-info">@lesson.Title</p>
                    <p>@lesson.Lector.Position @lesson.Lector.UserFirstName @lesson.Lector.UserLastName</p>
                </div>
                <div>
                    <p>ауд. @lesson.Classroom.Number (@lesson.Classroom.Building), @lesson.Type.ToLower()</p>
                </div>
                <div class="edit-delete-buttons d-flex justify-content-center justify-content-sm-end mx-0 mx-sm-3">
                    @{
                        var routeData = new Dictionary<string, string>
                        {
                            { "Id", @lesson.Id.ToString() }
                        };
                    }
                    <button type="button" class="edit-button px-3 py-1 mr-2"
                            data-toggle="ajax-modal" data-url="@Url.Action("EditLesson", @routeData)">
                        Редагувати
                    </button>
                    <button type="button" class="close-button px-3 py-1 remove-lesson" 
                            data-url="@Url.Action("RemoveLesson", @routeData)" data-group-id="@lesson.GroupId" data-weekday="@lesson.Weekday">
                        Видалити
                    </button>
                </div>
                @if (lesson.IsEnumerator && !lesson.IsDenominator)
                {
                    <hr class="mt-2">
                }
            }
        </div>
    </div>
}